.jumbotron{
	background-color: #de97c5;
	color: #ffffff
}

footer{
	padding: 10px 10px 0 10px;
	background-color: #de97c5;
	margin-bottom: 0px;
	margin-top: 10px
}
.card-gato{
	flex:1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}
.btn-info{
	width: 100%
	color: #de97c5;
}